*.o
distfiles/*.tar.*
distfiles/*.tgz
bootstrap/stage0_prefix
bootstrap/stage0_build
bootstrap/stage1_packages
bootstrap/stage1_build
bootstrap/stage2_packages
bootstrap/stage2_build
tools/withenv
tools/withpkgs
tools/pkgcontrol
tools/pkgsolve
tools/pkgvercmp
tools/newns
tools/gencontrol
tools/srccontrol
tools/control
packages/static-tools
